.alpabetList {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 20px;

  background-color: var(--primary-color-accent);

  border-radius: 10px;
  overflow: hidden;
}

.alpabetItem {
  width: 20px;
  height: 20px;
}

.letterBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20px;
  height: 20px;

  border: none;
  outline: none;
  /* background-color: transparent; */
}

.resetIcon {
  flex-shrink: 0;
  color: aliceblue;
  width: 20px;
  height: 20px;
}
