.label {
  width: 100%;
  position: relative;
}
.input {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  padding-left: 40px;
  gap: 10px;
  width: 100%;
  min-width: 264px;
  background: rgba(98, 138, 170, 0.15);
  border-radius: 12px;

  transition: 200ms ease-in;
}

.input::placeholder {
  font-family: 'Montserrat';
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  color: rgb(143, 153, 164);
}

.searchIcon {
  width: 20px;
  height: 20px;

  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
}
