.contact_list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.contact_item {
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: flex-start;
  align-items: center;
}

.avatar {
  width: 53px;
  height: 53px;
  border-radius: 16px;

  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  flex-grow: 3;
  border-bottom: 1px solid rgba(143, 153, 164, 0.5);
}

.btn_delete {
  align-self: end;
}

.icon {
  width: 25px;
  height: 25px;
}
