.wrapper {
  align-self: flex-start;
}

.bg_home {
  background-image: url(../../images/start.png);
  background-repeat: no-repeat;
  background-size: contain;
  align-self: center;

  width: 300px;
  height: 300px;
}

.title {
  align-self: flex-start;
  margin-bottom: 20px;

  font-family: 'Podkova';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: -0.02em;
}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
}

.link:hover {
  border-bottom: 2px solid var(--primary-color-accent);
}
